
@{
    ViewBag.Title = "Create";
    Html.EnableClientValidation();
}

<h2>Create Product</h2>

<form id="CreateProduct">
    <label>Name</label>
    <input name="Name" />
    <span id="ErrorName"></span>
    <br />

    <label>Description</label>
    <input name="Description" />
    <span id="ErrorDesc"></span>
    <br />

    <label>Price</label>
    <input name="Price" />
    <span id="ErrorPrice"></span>
    <br />

    <button id="btnCreate" type="button">Save</button>


</form>
<script>
    //debugger;

    //const form = document.querySelector("form");
    //form.addEventListener("click", allvalidate, false);
    //function allvalidate(event) {
    //    if ($("[name='Name']").val() == '') {
    //        $('[id$=ErrorName]').text("Please Enter name")
    //        event.preventDefault();
    //    }
    //    else if ($("[name='Description']").val() == '') {
    //        $('[id$=ErrorDesc]').text("Please Enter Description ")
    //        event.preventDefault();
    //    }
    //    else if ($("[name='Price']").val() == '') {
    //        $('[id$=ErrorPrice]').text("Please Enter Price")
    //        event.preventDefault();
    //    }
    //}

    $('[id$=btnCreate]').on('click', function () {

       
        var request = $.ajax({
            type : "POST",
            url: "/Product/Create",
            data: $('[id$=CreateProduct]').serialize(),
        });

        request.done(function (response) {
            $('[id$=divTable]').html(response);
            $('[id$=actionMethod]').html('');
        });

        request.fail(function (jqXHR, textStatus) {
            alert("Failed");
        });
    })

</script>


