
@{
    ViewBag.Title = "Create";
    Html.EnableClientValidation();
}

<h2>Create Product</h2>

<form method="post">
    <label>Name</label>
    <input name="Name" />
    <span id="ErrorName"></span>
    <br />

    <label>Description</label>
    <input name="Description" />
    <span id="ErrorDesc"></span>
    <br />

    <label>Price</label>
    <input name="Price" />
    <span id="ErrorPrice"></span>
    <br />

    <button type="submit">Save</button>


</form>
<script>
    debugger;

    const form = document.querySelector("form");
    form.addEventListener("click", allvalidate, false);
    function allvalidate(event) {
        if ($("[name='Name']").val() == '') {
            $('[id$=ErrorName]').text("Please Enter name")
            event.preventDefault();
        }
        else if ($("[name='Description']").val() == '') {
            $('[id$=ErrorDesc]').text("Please Enter Description ")
            event.preventDefault();
        }
        else if ($("[name='Price']").val() == '') {
            $('[id$=ErrorPrice]').text("Please Enter Price")
            event.preventDefault();
        }
    }
</script>


