
@{
    ViewBag.Title = "Index";
}

<div class="container" style="margin-top:10px;">
    <form method="post" action="/Product/ProductTable">
        <div class="container">
            <div class="row">
                <input name="Search" />
                <button type="button" id="btnSearch">Search</button>
                <button type="button" id="btnNew">New</button>
            </div>
        </div>
    </form>
</div>
<div id="actionMethod">

</div>
@{
    Html.RenderAction("ProductTable");
    //Html.RenderAction("Create");
}


<script>
    $('[id$=btnSearch]').on('click', function () {

        var SearchVal = $('[name=Search]').val();
        var request = $.ajax({
            url: "/Product/ProductTable",
            //type: "Get",
            data: { Search: SearchVal },
            //dataType: "html"
        });

        request.done(function (response) {
            $('[id$=divTable]').html(response);
        });

        request.fail(function (jqXHR, textStatus) {
            alert("Failed" );
        });
    })
    $('[id$=btnNew]').on('click', function () {
        var request = $.ajax({
            url: "/Product/Create",
           
        });

        request.done(function (response) {
            $('[id$=actionMethod]').html(response);
        });

        request.fail(function (jqXHR, textStatus) {
            alert("Failed");
        });
    })

    $('.editbtn').on('click', function () {
        var request = $.ajax({
            url: "/Product/Edit",
            data: {
                ID :$(this).attr('data-id')
            }

        });

        request.done(function (response) {
            $('[id$=actionMethod]').html(response);
        });

        request.fail(function (jqXHR, textStatus) {
            alert("Failed");
        });
    })

    $('.deletebtn').on('click', function () {
        debugger;

        if (confirm("do you want Delete")) {
            var request = $.ajax({
                url: "/Product/Delete",
                data: {
                    ID: $(this).attr('data-id')
                }

            });

            request.done(function (response) {
                $('[id$=divTable]').html(response);
            });

            request.fail(function (jqXHR, textStatus) {
                alert("Failed");
            });
        }
    })

</script>

